<div class="container">
        <section id="directives-calendar" ng-controller="calCtrl">
            <div class="page-header">
                <h1>UI-Calendar</h1>
            </div>
            <div class="well">
                <div class="row-fluid">
                    <div class="span8">
                      <div select="renderCalender('myCalendar1');">
                              <tab-heading>
                              </tab-heading>
                              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                <h4>{{alertMessage}}</h4>
                              </div>
                              <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
                                </div>
                              </div>
                            <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                    </div>
                    </div>
                    <div class="span4">
                        <div class="btn-group calTools">
                          <div class = "buttons">
                          <button type="button" class="btn btn-primary" ng-click="addEvent()">
                            Add Event
                          </button>
                          <button type="button" class="btn btn-primary" ng-click="remove()">
                            Delete Event
                          </button>
                        </div>
                        <br>
                        <div class = "form">
                            <form name="myForm">
                              <label>Name:</label> <input type="text" name="userName" ng-model="title">
                              <label>ID:</label> <input type="text" name="eid" ng-model="eid"><br>
                              <label>Year:</label> <input type="text" name="year" ng-model="year">
                              <label>Month:</label> <input type="text" name="month" ng-model="month"><br>
                              <label>Day:</label> <input type="text" name="day" ng-model="day">
                              <label>Hour:</label> <input type="text" name="hour" ng-model="hour">
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
