<div class="container">
        <div class="h2">Cooper Union Computer Center</div>
        <div class="holder" ng-controller="dataGridCtrl">
            <table class="clsTable table table-striped">
                <tr>
                <td>
                <b>Employees</b>
                </td>
                <td align="right">
                    <select ng-model="searchProp" ng-change="search={}">
                            <option value="eid">Employee ID</option>
                            <option value="dob">DOB</option>
                            <option value="lastname">Last Name</option>
                            <option value="firstname">First Name</option>
                            <option value="phone">Phone</option>
                            <option value="email">Email</option>
                        </select>
                        <input ng-model="search[searchProp]" ng-change="localObject.reset()" />
                        <span title="search" class="glyphicon glyphicon-search"></span>
                </td>
                </tr>
                <tr>
                    <td colspan="2">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                              <th> <table width="100%"><tr><td rowspan="2">Employee eid</td>
                              <td align="right"><span class="glyphicon glyphicon-chevron-up small ng-class:{'activeSort':(sort==='eid')}" ng-click="sort='eid'" title="ascending"></span></td></tr>
                              <tr><td align="right"><span class="glyphicon glyphicon-chevron-down small ng-class:{'activeSort':(sort==='-eid')}" ng-click="sort='-eid'" title="descending"></span></td></tr></table> </th>
                              <th> <table width="100%"><tr><td rowspan="2">dob</td>
                              <td align="right"><span class="glyphicon glyphicon-chevron-up small ng-class:{'activeSort':(sort==='dob')}" ng-click="sort='dob'" title="ascending"></span></td></tr>
                              <tr><td align="right"><span class="glyphicon glyphicon-chevron-down small ng-class:{'activeSort':(sort==='-dob')}" ng-click="sort='-dob'" title="descending"></span></td></tr></table> </th>
                              <th> <table width="100%"><tr><td rowspan="2">Last Name</td>
                              <td align="right"><span class="glyphicon glyphicon-chevron-up small ng-class:{'activeSort':(sort==='lastname')}" ng-click="sort='lastname'" title="ascending"></span></td></tr>
                              <tr><td align="right"><span class="glyphicon glyphicon-chevron-down small ng-class:{'activeSort':(sort==='-lastname')}" ng-click="sort='-lastname'" title="descending"></span></td></tr></table> </th>
                              <th> <table width="100%"><tr><td rowspan="2">First Name</td>
                              <td align="right"><span class="glyphicon glyphicon-chevron-up small ng-class:{'activeSort':(sort==='firstname')}" ng-click="sort='firstname'" title="ascending"></span></td></tr>
                              <tr><td align="right"><span class="glyphicon glyphicon-chevron-down small ng-class:{'activeSort':(sort==='-firstname')}" ng-click="sort='-firstname'" title="descending"></span></td></tr></table> </th>
                              <th> <table width="100%"><tr><td rowspan="2">phone</td>
                              <td align="right"><span class="glyphicon glyphicon-chevron-up small ng-class:{'activeSort':(sort==='phone')}" ng-click="sort='phone'" title="ascending"></span></td></tr>
                              <tr><td align="right"><span class="glyphicon glyphicon-chevron-down small ng-class:{'activeSort':(sort==='-phone')}" ng-click="sort='-phone'" title="descending"></span></td></tr></table> </th>
                              <th> <table width="100%"><tr><td rowspan="2">email</td>
                              <td align="right"><span class="glyphicon glyphicon-chevron-up small ng-class:{'activeSort':(sort==='email')}" ng-click="sort='email'" title="ascending"></span></td></tr>
                              <tr><td align="right"><span class="glyphicon glyphicon-chevron-down small ng-class:{'activeSort':(sort==='-email')}" ng-click="sort='-email'" title="descending"></span></td></tr></table> </th>
                              <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr ng-show="localObject.insertMode">
                              <td></td>
                              <td>
                              <input ng-model="updateItem.dob.value" ng-class="{error:updateItem.dob.isError}" title="{{updateItem.dob.isError ? 'invalid data' : 'yyyy-mm-dd'}}" placeholder="yyyy-mm-dd" />
                              </td>
                              <td>
                              <input ng-model="updateItem.lastname.value" ng-class="{error:updateItem.lastname.isError}" title="{{updateItem.lastname.isError ? 'invalid data' : ''}}" />
                              </td>
                              <td>
                              <input ng-model="updateItem.firstname.value" ng-class="{error:updateItem.firstname.isError}" title="{{updateItem.firstname.isError ? 'invalid data' : ''}}" />
                              </td>
                              <td>
                              <input ng-model="updateItem.phone.value" ng-class="{error:updateItem.phone.isError}" title="{{updateItem.phone.isError ? 'invalid data' : ''}}" />
                              </td>
                              <td>
                              <input ng-model="updateItem.email.value" ng-class="{error:updateItem.email.isError}" title="{{updateItem.email.isError ? 'invalid data' : ''}}" />
                              </td>
                              <td>
                                <span title="save new" class="glyphicon glyphicon-floppy-disk" ng-show="localObject.insertMode" ng-click="InsertRecord()"></span>
                              </td>
                              <td>
                                <span title="cancel new" class="glyphicon glyphicon-ban-circle" ng-show="localObject.insertMode" ng-click="updateItem={};localObject.insertMode=false"></span>
                              </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="item in items | filter: search | orderBy:sort | paging:pageSize">
                              <td>{{item.eid}}</td>
                              <td>
                                <span ng-if="localObject.editItemNumber!==item.eid">{{item.dob | date:'dd/MMM/yyyy'}}</span>
                                <input ng-if="localObject.editItemNumber===item.eid" ng-model="$parent.updateItem.dob.value" ng-class="{error:$parent.updateItem.dob.isError}" title="{{$parent.updateItem.dob.isError ? 'invalid data' : 'yyyy-mm-dd'}}" placeholder="yyyy-mm-dd" />
                              </td>
                              <td>
                                <span ng-if="localObject.editItemNumber!==item.eid">{{item.lastname}}</span>
                                <input ng-if="localObject.editItemNumber===item.eid" ng-model="$parent.updateItem.lastname.value" ng-class="{error:$parent.updateItem.lastname.isError}" title="{{$parent.updateItem.lastname.isError ? 'invalid data' : ''}}" />
                              </td>
                              <td>
                                <span ng-if="localObject.editItemNumber!==item.eid">{{item.firstname}}</span>
                                <input ng-if="localObject.editItemNumber===item.eid" ng-model="$parent.updateItem.firstname.value" ng-class="{error:$parent.updateItem.firstname.isError}" title="{{$parent.updateItem.firstname.isError ? 'invalid data' : ''}}" />
                              </td>
                              <td>
                                <span ng-if="localObject.editItemNumber!==item.eid">{{item.phone}}</span>
                                <input ng-if="localObject.editItemNumber===item.eid" ng-model="$parent.updateItem.phone.value" ng-class="{error:$parent.updateItem.phone.isError}" title="{{$parent.updateItem.phone.isError ? 'invalid data' : ''}}" />
                              </td>
                              <td>
                                <span ng-if="localObject.editItemNumber!==item.eid">{{item.email}}</span>
                                <input ng-if="localObject.editItemNumber===item.eid" ng-model="$parent.updateItem.email.value" ng-class="{error:$parent.updateItem.email.isError}" title="{{$parent.updateItem.email.isError ? 'invalid data' : ''}}" />
                              </td>
                              <td>
                                <span class="glyphicon ng-class:{'glyphicon-pencil':(localObject.editItemNumber!==item.eid), 'glyphicon-ok':(localObject.editItemNumber===item.eid)}" ng-click="$parent.EditUpdate(item)" title="{{(localObject.editItemNumber===item.eid) ? 'update' : 'edit'}}"></span>
                              </td>
                              <td>
                                <span class="glyphicon ng-class:{'glyphicon-remove':(localObject.editItemNumber!==item.eid), 'glyphicon-ban-circle':(localObject.editItemNumber===item.eid)}" ng-click="$parent.CancelDelete(item)" title="{{(localObject.editItemNumber===item.eid) ? 'cancel' : 'delete'}}"></span>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td><span title="insert new" class="glyphicon glyphicon-plus" ng-click="InsertRecord()" ng-hide="localObject.insertMode"></span></td>
                <td align="right">
                    <span>
                         Page Size:
                        <select ng-model="pageSize" ng-change="localObject.reset()">
                            <option>2</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                        </select>
                    </span>
                    <span class="clsPageCount">
                        <span ng-click="NavPrev()" class="glyphicon glyphicon-chevron-left ng-class:{'disablePage':(localObject.pageNum<=1)}" title="previous"></span>
                        {{ localObject.pageNum }}
                        <span ng-click="NavNext()" class="glyphicon glyphicon-chevron-right ng-class:{'disablePage':(localObject.pageNum>=TotalPages())}" title="next"></span>
                    </span>
                    <span class="clsPageCount">{{ TotalPages() }} pages / {{ localObject.recordsCount }} records</span>
                </td>
                </tr>

            </table>
        </div>
    </div>