 <style>
#header {
    background-color:maroon;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:400px;
    width:20%;
    float:left;
    padding:5px;
}
#section {
    width:70%;
    float:left;
    padding:10px;
    background-color:#FFD700;
}
#footer {
    background-color:maroon;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style> 